<div class='header_cont'>
    <div class='header_mask'>
        <div class='header_pattern'></div>
    </div>
    <header class='site_header logo-in-menu' data-menu-after="3">
        <div class="header_box">
            <div class="container">
                <!-- logo -->
                <div class  ="header_logo_part with_border" role="banner">
                    <a class="logo" href="{{ site.url }}/index.html"><img src="{{ site.url }}/assets/img/logo.png" width="200" height="200"/></a>

                </div>
                <!-- / logo -->
                <!-- menu -->
                <div class="header_nav_part">
                    <nav class="main-nav-container a-right">
                        <div class="mobile_menu_header">
                            <i class="mobile_menu_switcher"><span></span><span></span><span></span></i>
                        </div>
                        <ul id="menu-main-menu" class="main-menu menu-bees">
                            <!-- menu item -->
                            <li class="menu-item current-menu-item page_item current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children bees-start">
                                <a href="{{ site.url }}/index.html">
                                    <div class="bees bees-start">
                                        <span></span>
                                        <div class="line-one"></div>
                                        <div class="line-two"></div>
                                    </div>Ana Sayfa
                                    <div class="canvas_wrapper">
                                        <canvas class="menu_dashed"></canvas>
                                    </div>
                                </a>
                              
                            </li>
                          
                            <li class="menu-item menu-item-has-children">
                                <a href="{{ site.url }}/about.html">Biz Kimiz<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
                            </li>
                         
                            <li class="menu-item menu-item-has-children">
                                <a href="{{ site.url }}/ourteam.html">Ekibimiz<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
                            </li>
                          
                            <li class="menu-item menu-item-has-children right">
                                <a href="{{ site.url }}/gallery.html">Galeri<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
                            </li>
                            <li class="menu-item menu-item-has-children right">
                                <a href="{{ site.url }}/education.html">Eğitim<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
                              
                            </li>
                            <!-- / menu item -->
                            <!-- menu item -->
                            <li class="menu-item right bees-end">
                                <a href="{{ site.url }}/contact.html">
                                    <div class="bees bees-end">
                                        <span></span>
                                        <div class="line-one"></div>
                                        <div class="line-two"></div>
                                    </div>İletişim
                                    <div class="canvas_wrapper">
                                        <canvas class="menu_dashed"></canvas>
                                    </div>
                                </a>
                            </li>
                            <!-- / menu item -->
                        </ul>
                    </nav>
                </div>
                <!-- / menu -->
            </div>
        </div>
    </header>
    <!-- #masthead -->
</div>
